:root {
    --accent: #82ffb2;
    --darkbackground: #132f27;
    --lightbackground: #2e473f;
    --extralightbackground: #467465;
    --gray: #82868e;

    --accent_highlight: #42bade5a;

    --black: #000;
    --white: #f8f8f8; /* prev: #ebebeb */

    --condition: #ffbb00;
    --medication: #398bd3;
    --supplement: #4bbd4b;

    --condition_highlight: #ffbb0091;
    --medication_highlight: #57affd91;
    --supplement_highlight: #47ca4791;
}

::selection {
    background: #42badec2;
}

* {
    font-family: 'League Spartan Variable', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.highlighted-word {
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--white);
}

h1 {
    color: var(--white);
    font-size: 60pt;
    font-weight: bold;
}

h2 {
    color: var(--white);
	font-size: 24pt;
    font-weight: 100;
}

h3 {
    color: var(--white);
	font-size: 18pt;
	font-weight: 400;
}

p {
    color: var(--white);
    font-size: 13pt;
    font-weight: 400;
}

body {
    /* font-family: lato, sans-serif; */
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background-color: var(--darkbackground);
    backdrop-filter: blur(5px);
    min-height: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}

ul {
	list-style: none;
}

.container {
	max-width: 60%;
	margin: 0pt auto;
}

.centered {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.text-center-h3 {
    padding-bottom: 2%;
  }

.landing-content {
    background-color: #000;
}

.highlight {
    color: var(--accent);
}

.whitebutton {
    font-size: 18pt;
    font-weight: bold;
    background-color: var(--white);
    color: var(--darkbackground);
    
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 0.5rem;
    position: relative;
    border: 2px solid var(--white);

    /* transition: 0.05s; */
    /* transition-property: box-shadow; */
    /* box-shadow: 0 0 8px var(--black); */
}
  
.whitebutton:hover {
    box-shadow: 0 0 5px var(--lightbackground),
                0 0 5px var(--lightbackground),
                0 0 10px var(--lightbackground),
                0 0 15px var(--lightbackground);
  }

@media (max-width: 768px) {

    .highlighted-word {
        -webkit-text-stroke: 1px var(--white);
    }

    .whitebutton {
        font-size: 15pt;
    }

    .Accordion-container {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 26pt;
        margin: 0 auto;
    }
    
    h2 {
        font-size: 18pt;
        margin: 0 auto;
    }
    
    h3 {
        font-size: 15pt;
        margin: 0 auto;
    }

    .container {
        max-width: 90%;
    }

  }