@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


h1 {
    color: white;
	font-size: 45pt;
    margin-top: 10pt;
    margin-bottom: 15pt;
}

h2 {
    color: white;
	font-size: 22pt;
    margin-bottom: 15pt;
}

h3 {
    color: white;
	font-size: 12pt;
	font-weight: normal;
    margin-bottom: 10pt;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #101C32;
    opacity: 1;
    background-image: radial-gradient(#809ac9 2px, #101C32 2px);
    background-size: 40px 40px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4.75px);
    min-height: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}

ul {
	list-style: none;
}

.container {
    backdrop-filter: blur(4.75px);
	max-width: 1000px;
	margin: 0pt auto;
}

.centered {
    backdrop-filter: blur(4.75px);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.centered-select {
	justify-content: center;
    display: flex;
    gap: 3px;
    padding-top: 50pt;
    padding-bottom: 20pt;
	/* margin: 25px; */
}

div.multiselect {
    --sms-border: 1pt solid white;
    --sms-bg: white;
    --sms-min-height: 40pt;
    --sms-font-size: 15pt;
    --sms-text-color: #202142;
}

div.multiselect > ul.selected > li {
    --sms-selected-bg: #43bbde;
    --sms-selected-text-color: white;
}
