:root {
    --blue: #102c4c;
    --offwhite: #f0f0f0;
    --accent: #42bade;
    --accent_highlight: #42bade5a;
    --bluegray: #436e9edb;
    --darkbackgroundblue: #09141F;
    --lightbackgroundblue: rgba(66, 140, 222, 0.13);
    --gray: #7f8ca2;

    --condition: #ffbb00;
    --medication: #398bd3;
    --supplement: #4bbd4b;

    --condition_highlight: #ffbb0091;
    --medication_highlight: #57affd91;
    --supplement_highlight: #47ca4791;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


h1 {
    color: white;
	font-size: 60pt;
}

h2 {
    color: white;
	font-size: 22pt;
}

h3 {
    color: white;
	font-size: 18pt;
	font-weight: normal;
}

p {
    color: white;
    font-size: 10pt;
}

body {
    font-family: lato, sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background-image: url("lib/assets/background.svg");
    backdrop-filter: blur(5px);
    min-height: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}

ul {
	list-style: none;
}

.highlighted-word {
    color: var(--accent);
}

.container {
	max-width: 60%;
	margin: 0pt auto;
}

.centered {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mainlogo {
    width: 250px;
    height: auto;
}

.text-center-h3 {
    padding-bottom: 2%;
  }

.divbg {
    margin-left: 15%;
    margin-right: 15%;
    background: linear-gradient(135deg, rgba(14, 43, 74, 0.613), rgba(17, 21, 34, 0.4));
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 0.5rem;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.paddingbottom {
    padding-bottom: 10rem;
}

.highlight {
    color: var(--accent);
}

.whitebutton {
    font-size: 17pt;
    font-weight: bold;
    background-color: var(--offwhite);
    color: var(--blue);
    
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 0.5rem;
    position: relative;

    transition: 0.5s;
    transition-property: box-shadow;
    box-shadow: 0 0 10px var(--accent);
}
  
.whitebutton:hover {
    box-shadow: 0 0 1px var(--accent),
                0 0 12px var(--accent),
                0 0 20px var(--accent),
                0 0 50px var(--accent);
  }

@media (max-width: 768px) {

    .whitebutton {
        font-size: 13pt;
    }

    .divbg {
        margin-left: 2%;
        margin-right: 2%;
    }

    .Accordion-container {
        width: 100%;
        margin: 0 auto;
    }
    
    .mainlogo {
        width: 150px;
        height: auto;
    }

    h1 {
        font-size: 32pt;
        margin: 0 auto;
    }
    
    h2 {
        font-size: 15pt;
        margin: 0 auto;
    }
    
    h3 {
        font-size: 13pt;
        margin: 0 auto;
    }

    .container {
        max-width: 90%;
    }

  }