:root {
    --accent: #82ffb2;
    --darkbackground: #132f27;
    --lightbackground: #2e473f;
    --extralightbackground: #467465;
    --extradarkbackground: #10241e;
    --gray: #82868e;

    --accent_highlight: #42bade5a;

    --black: #000;
    --white: #f8f8f8;

    --condition: #ffbb00;
    --medication: #398bd3;
    --supplement: #4bbd4b;

    --condition_highlight: #ffbb0091;
    --medication_highlight: #57affd91;
    --supplement_highlight: #47ca4791;
}

::selection {
    background: #42badec2;
}

* {
    font-family: 'League Spartan Variable', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.highlighted-word {
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--white);
}

h1 {
    color: var(--white);
    font-size: 36pt;
    font-weight: 500;
}

h2 {
    color: var(--white);
	font-size: 32pt;
    font-weight: 400;
}

h3 {
    color: var(--white);
	font-size: 18pt;
	font-weight: 300;
}

p {
    color: var(--white);
    font-size: 13pt;
    font-weight: 400;
}

body {
    background-color: var(--darkbackground);
    min-height: 100%;
}

html {
    min-height: 100%;
    height: 100%;
}

ul {
	list-style: none;
}

.centered {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.text-center-h3 {
    padding-bottom: 2%;
  }

.landing-content {
    background-color: #000;
}

.whitebutton {
    font-size: 14pt;
    font-weight: bold;
    background-color: var(--white);
    color: var(--darkbackground);
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 0.5rem;
    border: 2px solid var(--white);
}
  
.whitebutton:hover {
    box-shadow: 0 0 5px var(--white)
}

@media (max-width: 768px) {

    .highlighted-word {
        -webkit-text-stroke: 1px var(--white);
    }

    .Accordion-container {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font-size: 26pt;
    }
    
    h2 {
        font-size: 24pt;
    }
    
    h3 {
        font-size: 15pt;
    }

  }